.test-title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .test-chrono {
    font-weight: lighter;
    font-size: 2em;
  }
}

#test-form {
  width: 100%;

  .submit-form {
    display: flex;
    justify-content: center;

    button {
      width: 50%;
    }
  }
}
