<h1>Test your knowledge about <span class="techno-title">RxJS</span>!</h1>

<form [formGroup]="form" (ngSubmit)="onSubmit()" id="test-form">
  @for (question of questions; track question.id) {
    @let questionId = 'question_' + question.id;
    <app-question [index]="$index+1" [question]="question" [control]="form.get(questionId)"></app-question>
  }

  <div class="submit-form">
    <button mat-flat-button class="submit-form" type="submit" [disabled]="form.invalid">Submit</button>
  </div>
</form>
