#page-content {
  margin: 5em;
  padding: 2em;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
  border-radius: 10px;
}

#home-title {
  cursor: pointer;
  font-weight: bold;
  min-width: 4em;
}

#toolbar {
  position: sticky;
  top: 0;
  z-index: 1;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  box-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;

  .left {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
  }

  .right {
    width: min-content;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: end;
    opacity: 0.7;

    .total-likes {
      margin-right: 0.2em;
      margin-bottom: -0.15em;
      text-align: right;
    }
  }

  #toolbar-links > * {
    cursor: pointer;
    font-size: smaller;
    font-variation-settings: "wght" 300;
    margin-right: 1em;
    transition: font-variation-settings 0.3s ease-in-out;
  }

  #toolbar-links > .active {
    color: #c2185b;
    font-variation-settings: "wght" 400;
  }

  #toolbar-links > *:hover {
    font-variation-settings: "wght" 500;
  }
}
