.tooltip.show {
  opacity: 0.9;
}

.tooltip {
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
  cursor: pointer;
  position: absolute;
  background: #333;
  color: white;
  padding: 4px;
  border-radius: 4px;
  z-index: 50;
  white-space: nowrap;

  &::after {
    content: '';
    position: absolute;
    bottom: -8px;
    left: 50%;
    transform: translateX(-50%);

    border-style: solid;
    border-color: #333 transparent transparent transparent;
    border-left-width: 8px;
    border-right-width: 8px;
    border-top-width: 8px;
  }

  .mat-icon {
    transform: scale(0.8);
  }
}
